{% extends "app/layout.html" %}

{% block content %}
{% load staticfiles %}
<h2>Немного о нас и нашем магазине.</h2><br />

<body>
   <img style="width:250px" src="{% static 'app/content/Nin.png' %}" align="left"  />
    <p class="p3" margin-bottom="30px">"Здравствуйте, уважаемые гости и клиенты нашего сайта! Меня зовут Нин Гуан. Я являюсь Директором нашего замечательного магазина."</p>
    
</body><br /><br /><br /><br /><br /><br /><br />
<div class="p4">
<p ><b>   Genshin Impact Trash Store - это торговая площадка, где Путешественники со всего мира могут купить себе недостающее снаряжение по привлекательным ценам.</b></p>
    <ul>У нас вы можете найти:
        <li>Разнообразное оружие</li>
        <li>Ресурсы для возвышений</li>
        <li>Ресурсы для приготовления блюд</li>
        <li>Артефакты</li>
    </ul>

</div>
{% endblock %}
