{%extends "app/layout.html"%}

{% block content%}

<div>
    <h1 style="font-family:fantasy; font-size:22px; color:midnightblue">Дерево Хомы</h1>
    <VIDEO src="/media/Tree of Homa.mp4" controls="controls" width="600" height="400" poster="/media/Homa.jpg" ></VIDEO>
</div>
<hr/>
<div>
    <h1 style="font-family:fantasy; font-size:22px; color:maroon">Ежедневные похождения путешественника</h1>
    <VIDEO src="/media/Everydays.mp4" controls="controls" width="600" height="400" poster="/media/Aether.jpg" ></VIDEO>
</div>


{% endblock %}